[run]
branch = True
source = .

[report]
omit =
    */migrations/*
    */tests/*
    */venv/*
    */__init__.py
    */settings.py
    config/asgi.py
    config/wsgi.py
    apps/common/permissions.py
    apps/common/validators.py
    manage.py
    apps/tasks/admin.py

